@import "./../../../assets/styles/styles";

.container {
    @extend %container;
}

.wrapper {
    margin: 120px 0 0;

    @media (max-width: 1024px) {
        margin: 80px 0 0;
    }
}
.title {
    @extend %title-H1;
}
