%main-transition {
    transition: all 0.5s ease;
}

%large-text {
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    text-align: right;
    letter-spacing: 0.02em;
    color: #000000;

    @media (max-width: 1024px) {
        font-size: 16px;
        text-align: left;
    }

    @media (max-width: 425px) {
        font-size: 14px;
    }
}

%default-text {
    font-weight: 500;
    font-size: 17px;
    line-height: 140%;
    letter-spacing: 0.02em;
    color: #000000;

    @media (max-width: 1024px) {
        font-size: 15px;
    }

    @media (max-width: 425px) {
        font-size: 14px;
    }
}

%default-link {
    font-weight: 500;
    font-size: 17px;
    line-height: 140%;
    letter-spacing: 0.02em;
    color: #6E9C9F;
    position: relative;

    &:before {
        content: ' ';
        position: absolute;
        height: 1px;
        width: 0;
        background: #6E9C9F;
        bottom: -5px;
        left: 0;
        @extend %main-transition;
    }

    &:hover {
        &:before {
            @extend %main-transition;
            width: 100%;
        }
    }
}

%title-H1 {
    font-weight: 500;
    font-size: 55px;
    line-height: 110%;
    letter-spacing: 0.02em;
    color: #000000;

    @media (max-width: 1024px) {
        font-size: 35px;
    }

    @media (max-width: 425px) {
        font-size: 30px;
    }
}

%title-H2 {
    font-weight: 500;
    font-size: 40px;
    line-height: 110%;
    letter-spacing: 0.02em;
    color: #000000;

    @media (max-width: 1024px) {
        font-size: 30px;
    }

    @media (max-width: 425px) {
        font-size: 25px;
    }
}

%title-H3 {
    font-weight: 500;
    font-size: 25px;
    line-height: 140%;
    letter-spacing: 0.02em;
    color: #000000;

    @media (max-width: 1024px) {
        font-size: 20px;
    }

    @media (max-width: 425px) {
        font-size: 18px;
    }
}

%title-H4 {
    font-weight: 500;
    font-size: 20px;
    line-height: 140%;
    letter-spacing: 0.02em;
    color: #000000;

    @media (max-width: 425px) {
        font-size: 18px;
    }
}

%container {
    width: 100%;
    max-width: 1150px;
    margin: 0px auto;
    padding: 0 20px;
}