%main-transition {
    transition: all 0.5s ease;
}

.large-text {
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    text-align: right;
    letter-spacing: 0.02em;
    color: #000000;

    @media (max-width: 1024px) {
        font-size: 16px;
        text-align: left;
    }

    @media (max-width: 425px) {
        font-size: 14px;
    }
}

.default-text {
    font-weight: 500;
    font-size: 17px;
    line-height: 140%;
    letter-spacing: 0.02em;
    color: #000000;

    @media (max-width: 1024px) {
        font-size: 15px;
    }

    @media (max-width: 425px) {
        font-size: 14px;
    }
}

.default-link {
    font-weight: 500;
    font-size: 17px;
    line-height: 140%;
    letter-spacing: 0.02em;
    color: #6E9C9F;
    position: relative;

    &:before {
        content: ' ';
        position: absolute;
        height: 1px;
        width: 0;
        background: #6E9C9F;
        bottom: -5px;
        left: 0;
        @extend %main-transition;
    }

    &:hover {
        &:before {
            @extend %main-transition;
            width: 100%;
        }
    }
}

.title-H1 {
    font-weight: 500;
    font-size: 55px;
    line-height: 110%;
    letter-spacing: 0.02em;
    color: #000000;

    @media (max-width: 1024px) {
        font-size: 35px;
    }

    @media (max-width: 425px) {
        font-size: 30px;
    }
}

.title-H2 {
    font-weight: 500;
    font-size: 40px;
    line-height: 110%;
    letter-spacing: 0.02em;
    color: #000000;

    @media (max-width: 1024px) {
        font-size: 30px;
    }

    @media (max-width: 425px) {
        font-size: 25px;
    }
}

.title-H3 {
    font-weight: 500;
    font-size: 25px;
    line-height: 140%;
    letter-spacing: 0.02em;
    color: #000000;

    @media (max-width: 1024px) {
        font-size: 20px;
    }

    @media (max-width: 425px) {
        font-size: 18px;
    }
}

.title-H4 {
    font-weight: 500;
    font-size: 20px;
    line-height: 140%;
    letter-spacing: 0.02em;
    color: #000000;

    @media (max-width: 425px) {
        font-size: 18px;
    }
}

.form {
    &__field {
        position: relative;
        margin-bottom: 35px;
        @media (max-width: 1024px) {
            margin-bottom: 25px;
        }
        &-input {
            border-bottom: 1px solid #000;
            padding-bottom: 10px;
            width: 100%;

            font-weight: 500;
            font-size: 17px;
            line-height: 140%;
            letter-spacing: 0.02em;
            color: #000000;
            &:focus ~ .form__field-label {
                top: -22px;
                font-size: 13px;
                @extend %main-transition;
            }
            &:not(:placeholder-shown)~.form__field-label {
                top: -22px;
                font-size: 13px;    
            }
            @media (max-width: 1024px) {
                font-size: 15px;
            }

            @media (max-width: 425px) {
                font-size: 14px;
            }
        }

        &-label {
            position: absolute;
            left: 0;
            top: 0;
            font-weight: 500;
            font-size: 17px;
            line-height: 140%;
            letter-spacing: 0.02em;
            color: #868686;
            @extend %main-transition;
            @media (max-width: 1024px) {
                font-size: 15px;
            }

            @media (max-width: 425px) {
                font-size: 14px;
            }
        }
    }
}

body {
    overflow: visible;
    overflow-x: hidden;
    font-family: 'Raleway';

    &.lock {
        @media (max-width: 425px) {
            overflow: hidden !important;
        }
    }
}

main {
    margin-bottom: 130px;

    @media (max-width: 1440px) {
        margin-bottom: 100px;
    }

    @media (max-width: 1024px) {
        margin-bottom: 80px;
    }

    @media (max-width: 425px) {
        margin-bottom: 60px;
    }
}

section {
    padding: 130px 0 0 0;

    @media (max-width: 1440px) {
        padding: 100px 0 0 0;
    }

    @media (max-width: 1024px) {
        padding: 80px 0 0 0;
    }

    @media (max-width: 425px) {
        padding: 60px 0 0 0;
    }
}

#root {
    min-height: 100vh;
}

.body {
    &__wrapper {
        display: flex;
        flex-direction: column;
        // justify-content: flex-end;
        min-height: 100vh;
        overflow: visible;
        overflow-x: hidden;
    }
}

.container {
    width: 100%;
    max-width: 1150px;
    margin: 0px auto;
    padding: 0 20px;
}

.modal {
    z-index: 9999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(110, 156, 159, 0.95);
    align-items: center;
    justify-content: center;
    display: flex;
    opacity: 0;
    visibility: hidden;
    @extend %main-transition;

    &.active {
        opacity: 1;
        visibility: visible;
        @extend %main-transition;
    }

    &__wrapper {
        padding: 70px;
        background: #fff;
        max-width: 490px;
        margin: 0 20px;
        position: relative;

        @media (max-width: 1024px) {
            padding: 35px;
            max-width: 350px;
        }
    }

    &__close {
        position: absolute;
        top: 25px;
        right: 25px;
        width: 25px;
        height: 25px;
        background: transparent;

        @media (max-width: 1024px) {
            right: 15px;
            top: 15px;
            width: 15px;
            height: 15px;
        }

        &:before,
        &:after {
            position: absolute;
            content: ' ';
            width: 100%;
            height: 1px;
            background: #000;
            top: 12.5px;
            left: 0;

            @media (max-width: 1024px) {
                top: 7.5px;
            }
        }

        &:before {
            transform: rotate(45deg);
        }

        &:after {
            transform: rotate(-45deg);
        }
    }

    &__title {
        text-align: center;
        margin-bottom: 35px;

        @media (max-width: 1024px) {
            margin-bottom: 20px;
        }
    }
}