@import '_styles.scss';

.container {
    @extend %container;
}

.order {
    &__form {
        display: flex;
        justify-content: space-between;
        gap: 40px;
        max-width: 920px;

        @media (max-width: 600px) {
            flex-direction: column;
        }
    }

    &__title {
        @extend %title-H3;
        padding-bottom: 48px;

        @media (max-width: 768px) {
            padding-bottom: 24px;
        }
    }

    &__data {
        max-width: 350px;
        width: 100%;
    }

    &__total {
        max-width: 255px;
        width: 100%;
    }

    &__block {
        &>div {
            &:not(:last-child) {
                margin-bottom: 30px;
            }
        }

        &:not(:last-child) {
            margin-bottom: 80px;

            @media (max-width: 768px) {
                margin-bottom: 40px;
            }
        }
    }

    & button {
        width: 100%;
    }

    &__list {
        & li {
            display: flex;
            justify-content: space-between;
            padding: 16px;
            // &:not(:last-child) {
            //     margin-bottom: 30px;
            // }
        }

        &_header {
            @extend %title-H4;
        }

        &_item {
            @extend %default-text;
        }

        &_price {
            @extend %default-text;
        }

        &_total {
            @extend %title-H4;
            background: #F1EADC;
        }
    }

    &__radio {
        &_input {
            opacity: 0;
            visibility: hidden;
            z-index: -1;
            width: 0;
            height: 0;

            &:checked~div {
                &:before {
                    display: block;
                }
            }
        }

        &_mark {
            width: 22px;
            height: 22px;
            border: 1px solid #000;
            position: relative;
            margin-right: 10px;

            &:before {
                content: ' ';
                position: absolute;
                top: 4px;
                left: 4px;
                width: 12px;
                height: 12px;
                background: #000;
                display: none;
            }
        }

        &_label {
            display: flex;
            align-items: center;
            @extend %default-text;
            cursor: pointer;
        }
    }
}