@import '_reset.scss';
@import '_fonts.scss';

body {
    overflow: visible;
    overflow-x: hidden;
    font-family: 'Raleway';
    &.lock {
        @media (max-width: 425px) {
            overflow: hidden !important;
        }
    }
}

main {
    margin-bottom: 130px;

    @media (max-width: 1440px) {
        margin-bottom: 100px;
    }

    @media (max-width: 1024px) {
        margin-bottom: 80px;
    }

    @media (max-width: 425px) {
        margin-bottom: 60px;
    }
}

section {
    padding: 130px 0 0 0;

    @media (max-width: 1440px) {
        padding: 100px 0 0 0;
    }

    @media (max-width: 1024px) {
        padding: 80px 0 0 0;
    }

    @media (max-width: 425px) {
        padding: 60px 0 0 0;
    }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 1000px transparent inset !important;
  -webkit-transition: background-color 5000s ease-in-out 0s !important;
  transition: background-color 5000s ease-in-out 0s !important;
}

#root {
    min-height: 100vh;
}

.body {
    &__wrapper {
        display: flex;
        flex-direction: column;
        // justify-content: flex-end;
        min-height: 100vh;
        overflow: visible;
        overflow-x: hidden;
    }
}