@import '_reset.scss';
@import '_fonts.scss';

body {
    overflow: visible;
    overflow-x: hidden;
    font-family: 'Raleway';
    &.lock {
        @media (max-width: 425px) {
            overflow: hidden !important;
        }
    }
}

main {
    margin-bottom: 130px;

    @media (max-width: 1440px) {
        margin-bottom: 100px;
    }

    @media (max-width: 1024px) {
        margin-bottom: 80px;
    }

    @media (max-width: 425px) {
        margin-bottom: 60px;
    }
}

section {
    padding: 130px 0 0 0;

    @media (max-width: 1440px) {
        padding: 100px 0 0 0;
    }

    @media (max-width: 1024px) {
        padding: 80px 0 0 0;
    }

    @media (max-width: 425px) {
        padding: 60px 0 0 0;
    }
}

#root {
    min-height: 100vh;
}

.body {
    &__wrapper {
        display: flex;
        flex-direction: column;
        // justify-content: flex-end;
        min-height: 100vh;
        overflow: visible;
        overflow-x: hidden;
    }
}