@import '_reset.scss';
@import '_fonts.scss';
@import '_header.scss';
@import '_footer.scss';

%main-transition {
    transition: all 0.5s ease;
}

.large-text {
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    text-align: right;
    letter-spacing: 0.02em;
    color: #000000;

    @media (max-width: 1024px) {
        font-size: 16px;
        text-align: left;
    }

    @media (max-width: 425px) {
        font-size: 14px;
    }
}

.default-text {
    font-weight: 500;
    font-size: 17px;
    line-height: 140%;
    letter-spacing: 0.02em;
    color: #000000;

    @media (max-width: 1024px) {
        font-size: 15px;
    }

    @media (max-width: 425px) {
        font-size: 14px;
    }
}

.default-link {
    font-weight: 500;
    font-size: 17px;
    line-height: 140%;
    letter-spacing: 0.02em;
    color: #6E9C9F;
    position: relative;

    &:before {
        content: ' ';
        position: absolute;
        height: 1px;
        width: 0;
        background: #6E9C9F;
        bottom: -5px;
        left: 0;
        @extend %main-transition;
    }

    &:hover {
        &:before {
            @extend %main-transition;
            width: 100%;
        }
    }
}

.title-H1 {
    font-weight: 500;
    font-size: 55px;
    line-height: 110%;
    letter-spacing: 0.02em;
    color: #000000;

    @media (max-width: 1024px) {
        font-size: 35px;
    }

    @media (max-width: 425px) {
        font-size: 30px;
    }
}

.title-H2 {
    font-weight: 500;
    font-size: 40px;
    line-height: 110%;
    letter-spacing: 0.02em;
    color: #000000;

    @media (max-width: 1024px) {
        font-size: 30px;
    }

    @media (max-width: 425px) {
        font-size: 25px;
    }
}

.title-H3 {
    font-weight: 500;
    font-size: 25px;
    line-height: 140%;
    letter-spacing: 0.02em;
    color: #000000;

    @media (max-width: 1024px) {
        font-size: 20px;
    }

    @media (max-width: 425px) {
        font-size: 18px;
    }
}

.title-H4 {
    font-weight: 500;
    font-size: 20px;
    line-height: 140%;
    letter-spacing: 0.02em;
    color: #000000;

    @media (max-width: 425px) {
        font-size: 18px;
    }
}

body {
    overflow: visible;
    overflow-x: hidden;
    font-family: 'Raleway';
    &.lock {
        @media (max-width: 425px) {
            overflow: hidden !important;
        }
    }
}

#root {
    height: 100%;
}

.body {
    &__wrapper {
        display: flex;
        flex-direction: column;
        // height: 100%;
        overflow: visible;
        overflow-x: hidden;
    }
}

.container {
    width: 100%;
    max-width: 1150px;
    margin: 0px auto;
    padding: 0 20px;
}

section {
    padding: 130px 0 0 0;

    @media (max-width: 1440px) {
        padding: 100px 0 0 0;
    }

    @media (max-width: 1024px) {
        padding: 80px 0 0 0;
    }

    @media (max-width: 425px) {
        padding: 60px 0 0 0;
    }
}

.modal {
    z-index: 9999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(110, 156, 159, 0.95);
    align-items: center;
    justify-content: center;
    display: flex;
    opacity: 0;
    visibility: hidden;
    @extend %main-transition;
    &.active {
        opacity: 1;
        visibility: visible;
        @extend %main-transition;
    }
    &__wrapper {
        padding: 70px;
        background: #fff;
        max-width: 490px;
        margin: 0 20px;
        position: relative;
        @media (max-width: 1024px) {
            padding: 35px;
            max-width: 350px;
        }
    }
    &__close {
        position: absolute;
        top: 25px;
        right: 25px;
        width: 25px;
        height: 25px;
        background: transparent;
        @media (max-width: 1024px) {
            right: 15px;
            top: 15px;
            width: 15px;
            height: 15px;
        }
        &:before, &:after {
            position: absolute;
            content:  ' ';
            width: 100%;
            height: 1px;
            background: #000;
            top: 12.5px;
            left:0;
            @media (max-width: 1024px) {
                top: 7.5px;
            }
        }
        &:before {
            transform: rotate(45deg);
        }
        &:after {
            transform: rotate(-45deg);
        }
    }
    &__title {
        text-align: center;
        margin-bottom: 35px;
        @media (max-width: 1024px) {
            margin-bottom: 20px;
        }
    }
    &__input {
        border-bottom: 1px solid #000;
        padding-bottom: 10px;
        width: 100%;
        margin-bottom: 35px;
        @media (max-width: 1024px) {
            margin-bottom: 25px;
        }
    }
}

.intro {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    @media (min-width: 1025px) and (min-height: 831px) {
        height: 100vh;
    }

    @media (max-height: 830px) {
        padding: 100px 0 60px 0;
    }

    @media (max-width: 1024px) {
        padding: 70px 0 60px 0;
    }

    &:before {
        z-index: -1;
        background: #F1EADC;
        content: ' ';
        width: 46%;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;

        @media (max-width: 1024px) {
            width: 30%;
        }
    }

    &__content {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media (max-width: 1024px) {
            flex-direction: column-reverse;
        }
    }

    &__text {
        position: relative;
        max-width: 585px;
        width: 100%;
        margin: 0 0 100px 0;

        @media (max-width: 1024px) {
            margin: 70px 0 0 0;
            max-width: 455px;
        }

        @media (max-width: 425px) {
            margin: 20px 0 0 0;
        }

        &-title {
            padding-bottom: 45px;

            @media (max-width: 1024px) {
                padding-bottom: 20px;
            }

            @media (max-width: 425px) {
                padding-bottom: 10px;
            }
        }

        &-subtitle {
            max-width: 385px;
        }

        &-group {
            display: flex;
            justify-content: flex-end;
            max-width: 385px;
            margin: 50px 0 0 0;

            @media (max-width: 1024px) {
                margin: 30px 0 0 50px;
                justify-content: flex-start;
            }

            @media (max-width: 425px) {
                margin: 20px 0 0 50px;
            }

            & button {
                position: relative;

                &:before {
                    content: url('../images/button-arrow.svg');
                    position: absolute;
                    width: 68px;
                    height: 68px;
                    background: rgba(110, 156, 159, 0.1);
                    top: 0;
                    left: -68px;
                    padding-top: 20px;

                    @media (max-width: 1024px) {
                        width: 50px;
                        height: 50px;
                        left: -50px;
                        padding-top: 12px;
                    }
                }
            }
        }
    }

    &__slider {
        &-wrapper {
            position: unset !important;
        }

        & .swiper-pagination {
            position: absolute;
            bottom: -100px;
            z-index: 100;
            display: flex;
            max-width: 385px;
            width: 100%;
            justify-content: flex-end;
            @media (max-width: 1024px) {
                bottom: -30px;
                justify-content: flex-start;
            }

            &-bullet {
                display: block;
                width: 30px;
                height: 4px;
                background: #D1D1D1;
                cursor: pointer;
                &:not(:last-child) {
                    margin-right: 12px;
                }

                &-active {
                    background: #000;
                }
            }
        }
    }

    &__img {
        position: relative;
        max-width: 410px;

        @media (max-width: 1024px) {
            max-width: 310px;
        }

        &-pic {
            width: 100%;
            height: 100%;
        }

        &-photo {
            z-index: 10;
            position: absolute;

            @media (max-width: 425px) {
                display: none;
            }

            &.photo-top {
                top: 123px;
                right: -91px;
                width: 197px;
                height: 197px;

                @media (max-width: 1024px) {
                    width: 140px;
                    height: 140px;
                    top: 40px;
                    right: -90px;
                }
            }

            &.photo-bottom {
                bottom: -60px;
                left: -130px;
                width: 190px;
                height: 318px;

                @media (max-width: 1024px) {
                    width: 140px;
                    height: 240px;
                    left: -70px;
                    bottom: -30px;
                }
            }
        }
    }
}

.products {
    &__content {
        padding: 90px 0 65px;
        display: flex;
        justify-content: space-between;

        @media (max-width: 1024px) {
            padding: 35px 0;
        }

        @media (max-width: 768px) {
            flex-direction: column;
            align-items: center;
        }
    }

    &__title {
        @media (max-width: 768px) {
            text-align: center;
        }
    }

    &__item {
        max-width: 32%;
        width: 100%;

        @media (max-width: 768px) {
            max-width: 320px;

            &:not(:last-child) {
                margin-bottom: 30px;
            }
        }

        &:hover {
            & .products__item-bg {
                @extend %main-transition;
                opacity: 1;
            }
        }

        &-bg {
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
            background: rgba(110, 156, 159, 0.64);
            opacity: 0;
            @extend %main-transition;

            & svg {
                transform: rotate(-90deg);
            }
        }

        &-img {
            position: relative;
            width: 100%;
            object-fit: cover;
        }

        &-pic {
            width: 100%;
        }

        &-descr {
            padding-top: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &-price {
            font-weight: 500;
            font-size: 15px;
            line-height: 140%;
            letter-spacing: 0.02em;
            color: #998E78;
        }
    }

    & button {
        margin: 0px auto;
    }
}

.quality {
    &__title {
        @media (max-width: 768px) {
            text-align: center;
        }
    }

    &__content {
        padding: 90px 0 0;
        display: flex;
        justify-content: space-between;

        @media (max-width: 1024px) {
            padding: 35px 0 0;
        }

        @media (max-width: 768px) {
            flex-direction: column;
            align-items: center;
        }
    }

    &__block {
        max-width: 305px;
        display: flex;
        flex-direction: column;

        @media (max-width: 768px) {
            align-items: center;
        }

        &:not(:last-child) {
            margin: 0 30px 0 0;

            @media (max-width: 768px) {
                margin: 0 0 30px 0;
            }
        }

        &-img {
            width: 61px;
            height: 61px;
        }

        &-title {
            padding: 25px 0;

            @media (max-width: 768px) {
                padding: 12px 0;
            }
        }

        &-info {
            @media (max-width: 768px) {
                text-align: center;
            }
        }
    }
}

.about {
    &__title {
        @media (max-width: 768px) {
            text-align: center;
        }
    }

    &__content {
        padding: 90px 0 0;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media (max-width: 1024px) {
            padding: 35px 0 0;
        }

        @media (max-width: 768px) {
            flex-direction: column;
        }
    }

    &__slider {
        position: relative;
        width: 66%;

        @media (max-width: 768px) {
            max-width: 500px;
            width: 100%;
        }

        &-img {
            width: 100%;
            height: 100%;
        }

        &-wrapper {
            position: unset !important;
        }

        & .swiper-pagination {
            position: absolute;
            bottom: 60px;
            left: 50%;
            transform: translateX(-50%);
            z-index: 100;
            display: flex;

            @media (max-width: 768px) {
                bottom: 20px;
            }

            &-bullet {
                display: block;
                width: 30px;
                height: 4px;
                background: rgba(255, 255, 255, 0.36);
                cursor: pointer;
                &:not(:last-child) {
                    margin-right: 12px;
                }

                &-active {
                    background: #FFFFFF;
                }
            }
        }

        & .swiper-button-prev {
            position: absolute;
            top: 50%;
            margin-left: -60px;
            left: 0;
            transform: translateY(-50%);
            z-index: 100;
            cursor: pointer;
            @media (max-width: 1300px) {
                margin-left: 20px;
            }

            &:before {
                content: url('../images/slider-arrow-prev.svg');
            }
        }

        & .swiper-button-next {
            z-index: 100;
            position: absolute;
            top: 50%;
            margin-right: -60px;
            right: 0;
            transform: translateY(-50%);
            cursor: pointer;
            @media (max-width: 1300px) {
                margin-right: 20px;
            }

            &:before {
                content: url('../images/slider-arrow-next.svg');
            }
        }
    }

    &__info {
        flex: 0 0 auto;
        width: 34%;
        padding: 0 0 0 90px;

        @media (max-width: 1024px) {
            padding: 0 0 0 45px;
        }

        @media (max-width: 768px) {
            padding: 20px 0 0 0;
            max-width: 500px;
            width: 100%;
        }

        &-title {
            margin-bottom: 28px;

            @media (max-width: 1024px) {
                margin-bottom: 14px;
            }
        }

        &-text {
            margin-bottom: 28px;

            @media (max-width: 1024px) {
                margin-bottom: 14px;
            }
        }
    }
}